<!DOCTYPE html>
<html lang="en">
<head>
    <title>about</title>
        <link rel="icon" href="/image/weather.png">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"
</head>
<body>
    <div class="main-content">
            <h1>{{title}}</h1>
        {{>header}}
    </div>
    <img class="picture" src="image/robot.png" alt="">
{{>footer}}
</body>
</html>